# EditorConfig ayuda a mantener estilos consistentes en varios editores y entornos IDE.
# Aprende más en https://editorconfig.org

root = true

# Configuraciones generales para todos los archivos
[*]
indent_style = space
indent_size = 4
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true
max_line_length = 150
